:root {
    --page-bg-color: #000000;
    --main-bg-color: #ffffff;
    --main-fg-color: #111111;
    --accent-color: #537ece;
    --headings-color: #537ece;
    --menu-fg-color: #ffffff;
    --medium-gap: 1rem;
}

html {
    background-color: var(--page-bg-color);
}

h2, h3, h4 {
    border-bottom: 2px solid var(--headings-color);
}

.navbar-div {
    position:fixed;
    height:70px;
    width:100%;
    background-color: #171a2198;
}

.navbar {
    top: 0%;
    left: 0%;
  }
  
  .navbar ul {
    list-style-type: none;
    align-items: inline;
  }
  
  .navbar ul li {
    display: inline;
  }
  
  .navbar ul li a {
    color: var(--menu-fg-color);
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    width: 180px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar a:hover {
    color: var(--accent-color);
    stroke: 10px #000000;
  }
  
  .navbar .active {
    color: var(--accent-color);
  }

  ul.main-menu li a::after {
    content: none;
}
  
  @media screen and (max-width: 700px) {
    .navbar ul li a {
      display: block;
      width: 100px;
      height: 50px;
      font-size: 25px;
    }
    .navbar-div {
        position:fixed;
        height:200px;
        width: 100%;
        background-color: var(--menu-bg-color);
    }
  }

header {
    background-color: var(--main-fg-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Steam_title1.jpg);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
header > h1 {
    font-family: "Lato";
    font-size: 5rem;
    color: var(--main-bg-color);
}

.content-wrapper {
    max-width: 960px; 
    margin: 0 auto;
    background-color: var(--main-bg-color);
}

.content-wrapper > * {
    padding: var(--medium-gap);
}

figure.picture {
    margin: 0;
}

figure.picture img {
    display: block;
    max-width: 100%;
}

a:after {
    content: " \2192";
}